<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">

      <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
      <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
   <style type="text/css">
       .table{

         border-color:#242424;
       }
       .table td{
         font-size: 20px;
         font-weight: bold;

       }
       .table th,tr,td{
         border-color:#242424;
         text-align: center;

       }
       .table th{
         font-size: 16px;
       }
   </style>
</head>
<body><br>
    <div class="text-center">
        <h2 style="font: bold;font-size: 50px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Customers</h2>
       
        
   </div> <br>
   
   <table class="table table-hover table-bordered" border="1" style="width: 100%;">
     <thead>
       <tr class="table table-active text-center">
         <th class="font-weight-bold" style="width: 10%;">CId</th>
         <th class="font-weight-bold" style="width: 20%;">Customer Name<i class="mdi mdi mdi-arrow-up float-right"></i><i class="mdi mdi-arrow-down float-right "></i></th>
         <th class="font-weight-bold" style="width: 15%;">Date<i class="mdi mdi mdi-arrow-up float-right"></i><i class="mdi mdi mdi-arrow-down float-right"></i></th>
         <th class="font-weight-bold" style="width: 14%;">Orders<i class="mdi mdi mdi-arrow-up float-right"></i><i class="mdi mdi-arrow-down float-right "></i></th>
         <th class="font-weight-bold" style="width: 17%;">View Details</th>
         <th class="font-weight-bold" style="width: 14%;">Delete</th>
        
       </tr>
       <tr>
         <td>1</td>
         
         <td>name</td>
         <td>date</td>
         <td>2</td>
         
         <td><a href="" style="font-size:17px;" class="btn btn-sm btn-success btn-rounded"><i class="mdi mdi-account  mr-2 " style="font-size:17px;"></i>View Detail</a></td>
         <td><a href="" style="font-size:17px;" class="btn btn-sm btn-danger btn-rounded"><i class="mdi mdi-delete mr-2 " style="font-size:17px;"></i>Delete</a></td>
         
 
       </tr>
     </thead>
     <tbody>
       
     </tbody>
   </table>
   <script src="assets/vendors/js/vendor.bundle.base.js"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="assets/js/off-canvas.js"></script>
   <script src="assets/js/misc.js"></script>
</body>
</html>